body{   
    margin-top: 150px;
    text-align: center;
    background-color: rgb(172, 233, 212);
}
img {
    width: 200;
    height: 200;
}

.catalogo img{
    margin: 15px;
}
.cor {
    width: 10px;
    height: 10px;
    border-color: black; 
    border-style: solid; 
    border-width: 1px;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
}
.azul {
    background-color: blue;
}
.branca {
    background-color: white;
}