body{
    margin-left: 40%;
    margin-top: 15%;
    background-color: rgb(194, 194, 168);
}
table{
   margin-left: 45px;
}
input{
    height: 50px;
    width: 50px;
}
#mostrar{
    margin-bottom: 25px;
    height: 50px;
    width: 250px;
}
h1{
    margin-left: 80px;
}